table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%
}

th, td {
  padding: 15px;
  text-align: left;
}

thead, tr:nth-child(even) {
  background-color: #f2f2f2;
}

.deleteButton {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
}
